{{ define "main" }}
<div class="row justify-content-center mb-8">
	<div class="col-md-12 col-lg-10 col-xl-8">
		<article>
			<div class="mb-5">
				<h1>{{ .Title }}</h1>
				<div class="container mt-5">
					<div class="row justify-content-center text-center">
						<p>{{ .Description }}</p>
					</div>
				</div>
			</div>
			<div class="mb-5">
				<div class="container mt-5">
					<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSff7m2sEZJGTHhR2C2ywMBTGTIuQupuHr5OLWHpFTVrHFOq4A/viewform?embedded=true" width="100%" height="1082" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
					<!--
					<form action="https://docs.google.com/forms/d/e/1FAIpQLSff7m2sEZJGTHhR2C2ywMBTGTIuQupuHr5OLWHpFTVrHFOq4A/viewform?usp=sf_link">
						<p>
							<label>メールアドレス</label><input type="text" name="emailAddress">
						</p>
						<p>
						<label>お問い合わせ内容</label>
						<select name="entry.838418093">
							<option value="お見積りについて">お見積りについて</option>
							<option value="採用について">採用について</option>
							<option value="ご質問">ご質問</option>
							<option value="その他">その他</option>
						</select>
						</p>
						<p>
						<label>お名前</label><input type="text" name="entry.2005620554">
						</p>
						<p>
						<label>会社名</label><input type="text" name="entry.1164106526">
						</p>
						<p>
						問い合わせ内容<textarea name="entry.839337160"></textarea>
						</p>
						<p>
      			当社の個人情報の取り扱いに同意する<input type="checkbox" name="entry.1680877510" id="agree" value="はい">
      			<label for="agree">はい</label>
						</p>
						<input type="hidden" name="emailReceipt" value="true">
						<input type="submit" value="送信">
					</form>
					-->
				</div>
			</div>
		</article>
	</div>
</div>
{{ end }}
